<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset+UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Confirm creation of "<%= @user.name %>"</h1>
    <p>
      <%= link_to "Follow this link", new_user_session_url(@user) %>
    </p>
  </body>
</html>
